* {
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    width: 1000px;
    height: 65px;
    margin: auto;
    border: 1px solid black;
    border-bottom: 0px;
}
.header>a>img {
    display: block;
    margin: auto;
    width: 994px;
    height: 60px;
}

.container {
    display: flex;
    flex-direction: row; 
    width: 1000px;
    height: calc(768px - 65px - 25px);
    margin: auto;

}

.aside {
    margin: auto;
    width: 215px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
    border-right: 0px;

}

.aside-header {
    width: 215px;
    height: calc(768px - 65px - 20px - 25px);
    border: 1px solid black;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aside-header>.aside-title {
    font-weight: 500;
    font-size: 24px;
    font-family: '標楷體';
    text-align: center; 
    color: #FF00FF;
    margin-top: 10px;
    padding-top: 8px;
    

    border-bottom: 1px solid black;

}

.aside-header> .box{
    width: 200px;
    height: 35px;
    background-image: url('../images/menu1.png');
    font-size: 16px;
    font-family: '標楷體';
    color:#000000;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
  
}

.aside-footer {
    width: 215px;
    height: 25px;
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
    

    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;

}

.main{
    margin: auto;
    width: calc(1000px - 215px);
    height: calc(768px - 65px - 20px);
}

.main-header {
    width:calc(1000px - 215px); 
    height: 29px;
    border: 1px solid black;
    border-bottom: 0px;
}

.main-header>.marquee {
    width: 770px;
    height: 29px;
    font-size: 24px;
    font-family: '標楷體';
    color: blue;
}


.main-section {
    width:calc(1000px - 215px);
    height: calc(768px - 65px - 20px - 29px);
    border: 1px solid black;
}

.footer {
    width: 1000px;
    height: 20px;
    border: 1px solid black;
    margin: auto;
}